<aside class="parallax">
  <div style="height: 150px; overflow: hidden; background-color: transparent;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-48.24,-45.86 C113.15,193.92 217.55,-75.47 526.24,29.13 L504.79,-6.39 L-2.54,-9.36 Z" style="stroke: none; fill: #f2f2f8;"></path></svg></div>
  <div class="cta wrapper">
    <h3>¿Te gustaría recibir frases de agradecimiento diariamente?</h3>
    <p>Solo envíanos tu email y tu nombre. Nosotros te enviaremos cada publicación de frases de gratitud que publicamos. Haz clic en el siguiente botón y completa el formulario.</p>
    <a href="#" class="boton boton_1" title="Cursos de Normas APA y más">→ Inscribir mi email</a>
  </div>
</aside>