<footer>
  <section>
    <div>
      <a href="{{site.baseurl}}/" title="Inicio">
        <img src="{{'logotipo.webp'|relative_url}}" alt="Logo TrabajoEscrito.com" width="200" height="98" loading="lazy">
      </a>
      <p>Si quieres seguir explorando el maravilloso mundo del agradecimiento, te invitamos a seguir leyendo más frases en nuestra página web. Recuerda, <strong>la gratitud es un viaje, no un destino</strong>. Así que, ¿por qué no empezar ese viaje hoy?</p>
    </div>
    <div>
      <!-- <h4>Imágenes de gratitud</h4>
      <a href="{{ site.baseurl }}/normas-apa">⇾ APA</a>
      <a href="{{ site.baseurl }}/normas-icontec">⇾ Icontec</a> -->
      <!-- <a href="{{ site.baseurl }}/#">⇾ IEEE</a>
      <a href="{{ site.baseurl }}/#">⇾ Vancouver</a>
      <a href="{{ site.baseurl }}/#">⇾ Chicago</a>
      <a href="{{ site.baseurl }}/#">⇾ Harvard</a>
      <a href="{{ site.baseurl }}/#">⇾ Upel</a> -->
    </div>
    <div>
      <h4>Detalles para agradecer</h4>
      <a href="{{ site.baseurl }}/">⇾ Cartas</a>
      <a href="{{ site.baseurl }}/">⇾ Tarjetas</a>
      <a href="{{ site.baseurl }}/">⇾ Discursos</a>
      <a href="{{ site.baseurl }}/">⇾ Poemas</a>
      <a href="{{ site.baseurl }}/">⇾ Regalos</a>
      <a href="{{ site.baseurl }}/">⇾ Canciones</a>
      <a href="{{ site.baseurl }}/">⇾ Certificados</a>
    </div>
    <div>
      <h4>Síguenos</h4>
      <a href="#">⇾ Instagram</a>
      <a href="#">⇾ Facebook</a>
      <a href="#">⇾ Pinterest</a>
      <a href="#">⇾ TikTok</a>
    </div>
    <div>
      <h4>Consultas</h4>
      <a href="{{site.baseurl}}/legal" rel="nofollow">⇾ Privacidad, términos y condiciones</a>
      <a href="mailto:digitalizaresfacil@gmail.com" rel="nofollow">⇾ E-mail</a>
      <a href="{{site.baseurl}}/contacto">⇾ Escríbenos</a>
      <a href="{{site.baseurl}}/sitemap.xml">⇾ Sitemap</a>
      <a href="{{site.baseurl}}/cursos-de-trabajos-escritos">⇾ DIARIOS DE GRATITUD</a>
    </div>
  </section>
  <section>
  <q>&copy; TrabajoEscrito.com - {{ "now" | date:"%Y"}} - Todos los derechos reservados</q>
  </section>
</footer>