<header>
{% if page.url == "/" %}
  <div class="title flow">
    <h1>{{page.h1}}</h1>
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="card-inner">
      {% assign post1 = site.posts[0] %}
      <small>Frase del {{ "now" |date: "%d-%m"}}</small>
      {{ post1.h1 | markdownify}}
      <a href="{{site.baseurl}}{{post1.url}}" title="{{page.boton_info_title}}">Analicemos su significado ⇾</a>
    </div>
  </div>
  {% include slider.html %}
  {% else %}
  <div class="hero flow">
    <h1>{{page.h1}}</h1>
    {% if page.boton" %}
    <a href="#{{page.boton_url}}" title="{{page.boton}}" class="boton boton_2">{{page.boton | capitalize}}</a>
    {% endif %}
  </div>
  {% endif %}
</header>
