<header>
{% if page.url == "/" %}
  <div class="title flow">
    <h1>{{page.h1}}</h1>
    {% include slider.html %}
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="card-inner">
      {% assign post1 = site.posts[0] %}
      {{ post1.excerpt | truncate: 320 | markdownify}}
      <a href="{{site.baseurl}}{{post1.url}}" title="{{page.boton_info_title}}">Analicemos su significado ⇾</a>
    </div>
  </div>
  {% else %}
  <div class="hero flow">
    <h1>{{page.h1}}</h1>
    {% if page.excerpt %}
    {{page.excerpt|markdownify}}
    {% if page.boton" %}
    <a href="#{{page.boton_url}}" title="{{page.boton}}" class="boton boton_2">{{page.boton | capitalize}}</a>
    {% endif %}
    {% endif %}
    <img src="{{site.baseurl}}/img/{{page.webp}}" alt="{{page.alt}}" width="320" height="320" loading="lazy">
  </div>
  {% endif %}
</header>
