<header>
{% if page.url == "/" %}
  <div class="title flow">
    <h1>{{page.h1}}</h1>
  </div>
  <div class="card">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="card-inner">
      {% capture now %}{{'now' | date: "%d-%m" | plus: 0 }}{% endcapture %}
      {% for post in site.posts %}
        {% capture date %}{{post.date | date: "%d-%m" | plus: 0 }}{% endcapture %}
        {% if post.date == now %}
        <small>Frase de agradecimiento del {{ "now" | date: "%d-%m" }}</small>
        {{ post.h1 | markdownify}}
      <a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}">Analicemos su significado ⇾</a>
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% include slider.html %}
  {% else %}
  <div class="hero flow">
    <h1>{{page.h1}}</h1>
    {% if page.boton" %}
    <a href="#{{page.boton_url}}" title="{{page.boton}}" class="boton boton_2">{{page.boton | capitalize}}</a>
    {% endif %}
  </div>
  {% endif %}
</header>
