<div class="seccion_imagenes">
  {% assign myData = page.galeria %}
      {% for data in site.data.frases[myData] %}
      <article>
        <img src="{{site.baseurl}}/img/frases-{{page.galeria|downcase}}/{{data[0]}}" alt="Frases {{page.tema}} {% increment var %}" loading="lazy" width="280">
        <div>
          <h4>{{data[1]}}</h4>
          <a href="{{site.baseurl}}/img/frases-{{page.galeria|downcase}}/{{data[0]}}" title="Descargar" download="{{data[0]}}">Descarga y comparte la imagen</a>
        </div>
      </article>
      {% endfor %}
</div>