<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio" class="logo"><img src="{{'logo.webp'|relative_url}}" alt="Logotipo de diariogratitud.com" width="48" height="48"></a>
    
  <ul>
    <!-- <li>
      <a href="{{site.baseurl}}/frases" {% if page.url contains "/frases" %}class="active"{% endif %}>Icontec</a>
    </li> -->
    <li><details>
      <summary>Detalles ⩡</summary>
      <a href="{{site.baseurl}}/canciones" {% if page.url contains '/canciones' %}class="active"{% endif %}>Música</a>
      <a href="{{site.baseurl}}/cartas" {% if page.url contains "/cartas" %}class="active"{% endif %}>Cartas</a>
      <a href="{{site.baseurl}}/certificados" {% if page.url contains "/certificados" %}class="active"{% endif %}>Certificados</a>
      <a href="{{site.baseurl}}/correos" {% if page.url contains "/correos" %}class="active"{% endif %}>Correos</a>
      <a href="{{site.baseurl}}/diplomas" {% if page.url contains "/diplomas" %}class="active"{% endif %}>Diplomas</a>
      <a href="{{site.baseurl}}/discursos" {% if page.url contains "/discursos" %}class="active"{% endif %}>Discursos</a>
      <a href="{{site.baseurl}}/notas" {% if page.url contains "/notas" %}class="active"{% endif %}>Notas</a>
      <a href="{{site.baseurl}}/placas" {% if page.url contains "/placas" %}class="active"{% endif %}>Placas</a>
      <a href="{{site.baseurl}}/poemas" {% if page.url contains "/poemas" %}class="active"{% endif %}>Poemas</a>
      <a href="{{site.baseurl}}/premios" {% if page.url contains "/premios" %}class="active"{% endif %}>Premios</a>
      <a href="{{site.baseurl}}/regalos" {% if page.url contains "/regalos" %}class="active"{% endif %}>Regalos</a>
      <a href="{{site.baseurl}}/tarjetas" {% if page.url contains "/tarjetas" %}class="active"{% endif %}>Tarjetas</a>
    </details></li>
    <li>
      <a href="{{site.baseurl}}/reflexiones" {% if page.url contains '/reflexiones' %}class="active"{% endif %}>Reflexiones</a>
    </li>
    <li><a href="{{site.baseurl}}/diarios-de-agradecimiento" {% if page.url contains "/diarios-de-agradecimiento" %}class="active"{% endif %}" class="cursos_menu">Diarios de gratitud</a></li>
    <li><small> &copy; diariogratitud.com </small></li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>