<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio" class="logo"><img src="{{'logo.webp'|relative_url}}" alt="Logotipo de diariogratitud.com" width="48" height="48"> <span>Diario Gratitud</span></a>
    
  <ul>
    <!-- <li>
      <a href="{{site.baseurl}}/frases" {% if page.url contains "/frases" %}class="active"{% endif %}>Icontec</a>
    </li> -->
    <li>
      <a href="{{site.baseurl}}/reflexiones" {% if page.url contains '/reflexiones' %}class="active"{% endif %}>Reflexiones</a>
    </li>
    <!-- <li>
      <details>
        <summary>Detalles ⩡</summary>
        <a href="{{site.baseurl}}/canciones" {% if page.url contains '/canciones' %}class="active"{% endif %}>Música</a>
        <a href="{{site.baseurl}}/cartas-de-agradecimiento" {% if page.url contains "/cartas-de-agradecimiento" %}class="active"{% endif %}>Cartas</a>
        <a href="{{site.baseurl}}/certificados" {% if page.url contains "/certificados" %}class="active"{% endif %}>Certificados</a>
        <a href="{{site.baseurl}}/correos" {% if page.url contains "/correos" %}class="active"{% endif %}>Correos</a>
        <a href="{{site.baseurl}}/discursos" {% if page.url contains "/discursos" %}class="active"{% endif %}>Discursos</a>
        <a href="{{site.baseurl}}/placas" {% if page.url contains "/placas" %}class="active"{% endif %}>Placas</a>
        <a href="{{site.baseurl}}/poemas" {% if page.url contains "/poemas" %}class="active"{% endif %}>Poemas</a>
        <a href="{{site.baseurl}}/premios" {% if page.url contains "/premios" %}class="active"{% endif %}>Premios</a>
        <a href="{{site.baseurl}}/regalos" {% if page.url contains "/regalos" %}class="active"{% endif %}>Regalos</a>
        <a href="{{site.baseurl}}/tarjetas" {% if page.url contains "/tarjetas" %}class="active"{% endif %}>Tarjetas</a>
      </details>
    </li> -->
    <li><a href="{{site.baseurl}}/contacto" {% if page.url contains "/contacto" %}class="active"{% endif %}" class="cursos_menu">Apoya nuestra misión</a></li>
    <li><small> &copy; diariogratitud.com </small></li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>

<!-- Imágenes de Agradecimiento: Una Imagen Vale Más que Mil Palabras
Las imágenes de agradecimiento son una forma visual de expresar gratitud. Pueden ser tan simples como una tarjeta de agradecimiento o tan elaboradas como una obra de arte. Lo importante es que la imagen transmita tu sincera gratitud.

Aquí te dejo algunos ejemplos de imágenes de agradecimiento que puedes usar o adaptar a tu situación:

Una tarjeta de agradecimiento con un mensaje sincero.
Una foto de un momento especial que compartiste con la persona a la que le agradeces.
Una obra de arte que representa tu gratitud. -->