<aside class="related">
<h3>Inspírate con más frases de gratitud</h3>
{% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:4 %}
  {% for post in site.posts | limit: 5 %}
    <a href="{{ site.baseurl }}{{ post.url }}" class="flow">
      {% assign foundImage = 0 %}
          {% assign images = post.content | split:"<img " %}
              {% for image in images %}
                {% if image contains 'src' %}
                    {% if foundImage == 0 %}
                    {% assign html = image | split:"/>" | first %}
                    <img width="250" {{ html }} />
                     {% assign foundImage = 1 %}
                    {% endif %}
                 {% endif %}
             {% endfor %}
      <h5>{{ post.title }}</h5>
    </a>
  {% endfor %}
</aside>