<div class="gallery-slider">
  <span id="left" class="next"><img src="/img/prev.svg" alt="Prev button" width="32" height="32"></span>
  <div class="slide-container ">
    <a href="{{site.baseurl}}/portada-trabajo-escrito" title="Portadas">
      <p draggable="false">para Dios</p>
    </a>
    <a href="{{site.baseurl}}/margenes-trabajo-escrito" title="Márgenes">
      <p draggable="false">para la Vida</p>
    </a>
    <a href="{{site.baseurl}}/tabla-de-contenido-trabajo-escrito" title="Contenido">
      <p draggable="false">para el Trabajo</p>
    </a>
    <a href="{{site.baseurl}}/textos-y-fuentes-trabajo-escrito" title="Fuentes o Textos">
      <p draggable="false">para Despedidas</p>
    </a>
    <a href="{{site.baseurl}}/cita-trabajo-escrito" title="Citas">
      <p draggable="false">para Maestros</p>
    </a>
    <a href="{{site.baseurl}}/anexos-trabajo-escrito">
      <p draggable="false">para Amigos</p>
    </a>
    <a href="{{site.baseurl}}/anexos-trabajo-escrito">
      <p draggable="false">para Graduación</p>
    </a>
    <a href="{{site.baseurl}}/anexos-trabajo-escrito">
      <p draggable="false">para Clientes</p>
    </a>
  </div>
  <span id="right" class="prev"><img src="/img/next.svg" alt="Next button" width="32" height="32"></span>
</div>