<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="32"
    loop="true">
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
    <swiper-slide>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat libero totam atque, aliquam voluptates assumenda provident molestiae labore vero placeat delectus animi a qui!
    </swiper-slide>
  </swiper-container>