/* DATOS DEL POST */

.post-data {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.post-data span {
  font-weight: 700;
}

/* BREADCRUMBS */

#breadcrumbs {
  margin-bottom: 1em;
}

/* SHARE */

.share{
  background-color: var(--secundario);
  padding: 1em;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.share span{
  color: var(--complemento2);
}

#share-buttons {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#share-buttons:after {
  content: "";
  display: block;
  clear: both;
}

#share-buttons>div {
  position: relative;
  text-align: left;
  height: 40px;
  width: 40px;
  float: left;
  text-align: center;
}

#share-buttons>div>svg {
  height: 20px;
  fill: white;
  margin-top: 10px;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#share-buttons>div>svg:hover {
  fill: var(--accion);
  transform: scale(1.5);
}

#share-buttons>div:hover {
  cursor: pointer;
}

#markdown-toc {
  padding: 0;
}

#markdown-toc a{
  font-weight: 400;
}

#markdown-toc a::before{
  content: "⇾";
  margin-right: .24em;
  font-weight: 700;
}

#markdown-toc li ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
}

/* Contenido de la página blog */
.blog-gallery h2{
  margin-bottom: 1em;
}

.blog-gallery h3{
  margin-top: 4rem;
}

.blog-tags{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.blog-tags button{
  flex: 1 0 max-content;
  padding: 8px 12px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--secundario);
  font-weight: bolder;
  font-family: var(--fuenteTexto);
  font-size: 1rem;
  transition: all .15s ease-out;
  color: white;
}

.blog-tags button.active{
  background-color: var(--accion);
  color: white;
}

.blog-tags button:hover{
  transform: scale(1.05);
  box-shadow: var(--shadow);
}

.post.hide{
  display: none;
}

.post span{
  display: inline-block;
  font-size: 2rem;
  margin: 1em 0;
  font-weight: bolder;
  font-family: var(--fuenteTitulos);
  background-color: var(--complemento2);
  padding: 8px 12px;
  width: 100%;
  border-radius: var(--radius);
}

.post .links{
  padding: 0 0 2rem;
}

.post .links article{
  flex: 1 0 320px;
  border-bottom: 1.2px dotted var(--gris1);
  max-width: max-content;
  padding-bottom: 1em;
}

.related{
  width: min((100% - 2rem), 1024px);
  margin-inline: auto;
  padding: 0 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.related a{
  max-width: 100%;
  width: min(100%, 440px);
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--complemento2);
  border-radius: var(--radius);
  text-decoration: none;
  padding: 8px 12px;
}

.related a:hover{
  box-shadow: var(--shadow);
}

.related a img{
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
  aspect-ratio: 1 / 1;
}

.reflexion img{
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}