.entradas{
  width: 100%;
  background-image: url("/bg.png");
  display: grid;
}

.entradas div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.entradas div h2{
  flex: 1 0 400px;
}

.entradas-blog{
  width: min((100% - 2rem), 1024px);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.entradas-blog h3{
  flex: 0 1 640px;
}

.entradas-blog article{
  background-color: white;
  padding: 1em;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  flex: 1 0 300px;
}

.entradas-blog article h4{
  color: var(--principal)
}

.entradas-blog article a{
  float: right;
}

.entradas a{
  justify-self: center;
  margin-top: 2rem;
}

.categorias_home div{
  display: grid;
  gap: 1em;
}

/* background-color: var(--secundario);
box-shadow: 0 0 0 100vmax var(--secundario);
clip-path: inset(0 -100vmax); */
