---
layout: default
---
<main>
  <article class="wrapper flow reflexion">
    <section class="copiar">
      <h3>Copia esta frase y pégala en tu red favorita</h3>
      <span id="mensaje">{{page.h1}}</span>
      <a id="copiar" onclick="copiarUrl()" class="boton boton_2" >💌 Copiar</a>
    </section>
    {{ content }}
    <section class="share">
      {% include share.html %}
    </section>
  </article>
  <div class="more">
      {% include related.html %}
      <h3>Encuentra más frases de agradecimiento por temas</h3>
      {% include slider.html %}
    </div>
  {% include comentarios.html %}
</main>
{% include cta.html %}
{% include footer.html %}
{% include follow-buttons.html %}
<script src="/js/copy.js" async></script>
<script id="dsq-count-scr" src="//gurcoff.disqus.com/count.js" async></script>


<!-- Realiza 2 dibujos con estilo aesthetic en tonos pastel. Estos deben expresar el significado de la siguiente frase -->