---
layout: default
---
<main class="post-content">
  <article class="wrapper flow">
    {% include breadcrumbs.html %}
    <div class="post-data">
      <span>
        {{page.date | date: "%m-%d-%Y"}} /
      </span>
      {% if page.autor %}
      <span>
        Autor: {{page.autor}}
      </span>
      {% endif %}
      <span>
        {% capture words %}
        {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains '-' %}
        {{ words | plus: 150 | divided_by: 150 | append: ' minutos de lectura' }}
        {% endunless %}
      </span>
    </div>
    {{ content }}
    <div>
      {% include share.html %}
    </div>

    {% include comentarios.html %}
  </article>
</main>
{% include cta.html %}
{% include footer.html %}
{% include follow-buttons.html %}
